

.background-image{
	z-index: -1;
	opacity:0.1;
	position:fixed;
	width:auto;
	height:auto;
	min-width:100%;
	min-height:100%;
	top:-20%;
	left:5%;
}


.container {
	text-align:center;
}

nav {
	margin:5% auto 0 auto;
	width:25%;
	padding-right:2.8%;
}

.introduction{
	margin:1% auto 0 auto;
	width:25%;
	color: #0000bb;
}

li{
	list-style-type: none;
}

a {
	color:#000000;
}

a:visited {
	color:#000000;
	text-decoration:none;
}

.introduction {
	width:65%;
	color:#000033;
}

footer {
	width:65%;
	height:20%;
	float:right;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
}

.submenu{
	font-family: 'Montserrat', sans-serif;
}

.submenu:hover{
}

.submenu-list{
	visibility: hidden;
	padding-right:2.5em;
}

.submenu-list a{
	text-decoration:none;
	color:#0000cc;
}

.submenu:hover .submenu-list,
.submenu:hover ~ .submenu-list {
	visibility: visible;
}

.introduction-text{
	font-size: 1.5em;
	font-family:cursive;
}

.introduction-header{
	font-size: 2.5em;
	font-family:cursive;
}

.secondary-text{
	font-size: 1em;
	font-family: 'Montserrat', sans-serif;
}




